/.project
/gateplugin-LearningFramework-*.zip
/gateplugin-LearningFramework.jar
/classes
/lib
/build.properties
*~
#*#
*.class
TEST-*.xml
TEST-*.txt
TESTS-TestSuites.xml
junit-noframes.html
hs_err_*.log

/tests/*/*/pipe.pipe
/tests/*/*/info.yaml
/tests/*/*/lf.model
/tests/*/*/data.arff
/tests/*/*/header.arff
/tests/cl-ionosphere/export/*
/tests/rg-abalone/export/*
/tests/seq-wikipedia1/export/*
!/tests/*/*/.keep
!/tests/*/model-*/weka.yaml
/test-tmp-EngineMalletSeqOut/
/tests/cl-ionosphere/model-sklearn-external-rf/sklmodel*
/tests/cl-ionosphere/model-sklearn-external-rf/indep.mtx
/tests/cl-ionosphere/model-sklearn-external-rf/dep.mtx
/tests/cl-ionosphere/model-sklearn-external-rf/instweights.mtx
/tests/cl-ionosphere/model-costcla-external-rf/dep.mtx
/tests/cl-ionosphere/model-costcla-external-rf/indep.mtx
/tests/cl-ionosphere/model-costcla-external-rf/instcosts.mtx
