/.project
/LearningFramework-*.zip
/gateplugin-LearningFramework.jar
/classes
/lib

*~
#*#
*.class
TEST-*.xml
TEST-*.txt
TESTS-TestSuites.xml
junit-noframes.html
hs_err_*.log

/tests/*/model-*/pipe.pipe
/tests/*/model-*/info.yaml
/tests/*/model-*/lf.model
/tests/cl-ionosphere/export/data.arff
/tests/cl-ionosphere/export/info.yaml
/tests/cl-ionosphere/export/pipe.pipe
