---
---

@import "{{ site.theme }}";

#header {
  background: #353535;
  nav {
    max-width: 1300px;
    background: #353535;

    li {
      a {
	all: initial;
        background: #353535;
}
}
}
}

section: {
  max-width: 1300px;
}
