---
layout: default
title: Blog
---

{% if site.posts.size > 0 %}
<h2>  New Blog Posts ({{ site.posts.size }}) <h2>

<ul>
<li> Total posts: {{ site.posts.size }}
<li> Total posts: {{ paginator.total_posts }}
{% for post in paginator.posts %}
<p>
Title: {{ post.title }} URL: {{post.url}}
Link: <a href="{{ site.sitebase }}/{{ post.url }}">{{ post.title }}({{ post.date | date_to_string }})</a>
{% if post.description %}
{{ post.description }}
{% endif %}
{% endfor %} 
<p>
{% if paginator.total_pages > 1 %}
Navigation:
{% if paginator.previous_page %}
<p>  [<--]({{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }})
{% endif %}
{% if paginator.next_page %}
<p>  [-->]({{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }})
{% endif %}
{% endif %}
{% else %}
No blog posts yet!
{% endif %}
